html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Custom CSS */

:root {
  --primary-clr: #e7e7eb;
  --secondary-clr: #88869d;
  --primary-bkrd: #1e213a;
  --secondary-bkrd: #6e707a;
  --tertiary-bkrd: #100e1d;
  --small-pad: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "raleway", sans-serif;
}

/* Search Bar */

.search {
  position: absolute;
  background-color: var(--primary-bkrd);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: -600px;
  transition: all 0.5s ease-in-out;
  color: white;
}

.search-wrapper {
  margin: 0 auto;
  height: 90%;
  width: 90%;
}

.search-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Current Weather CSS */

.current {
  background-color: var(--primary-bkrd);
  width: calc(100% / 3);
  position: relative;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}

/* .current:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(/src/weatherimages/Cloud-background.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
} */
.current-container {
  color: var(--secondary-clr);
}

.current-wrapper {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.current-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.current-nav > p {
  padding: var(--primary-pad);
  background-color: var(--secondary-bkrd);
}

.current-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-status {
  text-align: center;
}

.temperature {
  color: var(--primary-clr);
}
.current-city {
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.current-city:hover {
  color: red;
}

.current:hover .search,
.current:focus-within .search {
  top: 0px;
}
/* .input {
  padding: 10px;
  width: 140px;
  border: 1px solid grey;
  border-radius: 4px;
} */

.test {
  height: 30px;
}
/* Forecast Weather CSS */

.forecast {
  background-color: var(--tertiary-bkrd);
  width: calc((100% / 3) * 2);
  color: var(--primary-clr);
}
.forecast-wrapper {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
.forecast-container {
  /* margin: 50px 0px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Days Section */

.days-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Day Cards */

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 185px;
  background-color: var(--primary-bkrd);
}

/* Units - C/F */

.units {
  display: flex;
  justify-content: flex-end;
}

.celcius {
}

.fahrenheit {
}

.button {
  height: 20px;
}
